:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    /* ### Neutral */
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    /* ### Gradients */
    --Grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --Grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    /* - Weights: 300, 400, 600 */
}

.app {
    display: flex;
    margin: 0;
}

.main {
    height: 100dvh;
    background: var(--Grad1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 10rem;
}

header {
    position: absolute;
    top: 4rem;
}

.main-content {
    padding-right: 4rem;
}

h1 {
    font-size: clamp(1rem, 12vw, 5rem);
    text-transform: uppercase;
    letter-spacing: clamp(.3rem, 1rem, 1.5rem);
    font-weight: 400;
    margin: 0;
}

h1 span {
    font-size: clamp(1rem, 12vw, 5rem);
    color: var(--Desaturated-Red);
    font-weight: 300;
    letter-spacing: clamp(.3rem, 1rem, 1.5rem);

}

p {
    color: var(--Desaturated-Red);
    font-weight: 600;
    letter-spacing: .2rem;
    line-height: 1.5rem;
    padding: 2rem 2rem 2rem 0rem;
    font-size: clamp(.5rem, 5vw, 1rem);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    position: relative;

}

input {
    border: 1px solid var(--Desaturated-Red);
    border-radius: 4rem;
    padding: 1.3rem;
    opacity: .5;
    width: 75%;
    z-index: 1;
}

input::placeholder {
    color: var(--Desaturated-Red);
    text-indent: 1rem;
}

button {
    background: var(--Grad2);
    padding: 1.15rem 2.3rem;
    border: none;
    border-radius: 5rem;
    margin-left: -4.5rem;
    z-index: 55;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
    opacity: .7;
}

.error {
    color: rgba(255, 0, 0, 0.5);
    font-size: .9rem;
    padding-left: 3rem;
    padding-top: .5rem;
}

.invalid {
    border: 2px solid rgba(255, 1, 1, 0.8) !important;
    background-color: none;

}

img#exclamation {
    color: red;
    transform: translateX(-750%);
    z-index: 2;
    /* Place it above the input */
}

@media screen and (max-width: 700px) {
    body {
        margin: 0;
    }

    header {
        position: absolute;
        top: 0rem;
    }

    header>img {
        max-height: 6vw;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: flex;
        padding-top: 3rem;
    }

    .main {
        padding: 0;
        margin: 0;
    }

    .app {
        padding: none;
        margin: 0;
    }

    header {
        top: 2rem;
        left: 2rem
    }

    h1 {
        text-align: center;
        padding-top: 4rem;
    }

    p {
        text-align: center;
        padding: 1rem;
    }

    .input-container {
        display: flex;
        justify-content: center;
    }

    input {
        width: 75%;
    }

    .error {
        padding-left: 1rem;
    }




}

@media screen and (min-width: 700px) {
    .mobile-img {
        display: none;
    }
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    img#exclamation {
        transform: translateX(-900%);
    }
}

@media screen and (max-width: 500px) {
    img#exclamation {
        transform: translateX(-650%);
    }
}